{% extends "index" %}

{% set pageTitle = entry.title %}
{% set pageDescription = entry.shortDescription %}
{% set body_class = "inner-page" %}

{% block content %}
    {% cache using key 'general-page' %}
    <article class="section">
        <div class="content-column content-column--narrow">

            <h1 class="centered">{{ entry.title }}</h1>
            {{ entry.richText }}

        </div>
    </article>
    {% endcache %}
{% endblock %}